<div class="dashboard-container">
  <app-sidebar class="sidebar"></app-sidebar>
  <div class="main-content">
    <app-header class="header"></app-header>
    <div class="body-content">
      <div class="user-card">
        <p class="title-name">Información general</p>
        <div class="attributes-space">
          <div>
            <div class="attribute-option">
              <span class="title-attribute">Nombre: </span>
              <span>{{ user?.nombre }}</span>
            </div>
            <div class="attribute-option">
              <span class="title-attribute">Apellido: </span>
              <span>{{ user?.apellido }}</span>
            </div>
          </div>
          <div>
            <div class="attribute-option">
              <span class="title-attribute">Fecha de nacimiento: </span>
              <span>{{ user?.fechaNacimiento }}</span>
            </div>
            <div class="attribute-option">
              <span class="title-attribute">Teléfono: </span>
              <span>{{ user?.telefono }}</span>
            </div>
          </div>
          <div>
            <div class="attribute-option">
              <span class="title-attribute">Cédula: </span>
              <span>{{ user?.cedula }}</span>
            </div>
            <div class="attribute-option">
              <span class="title-attribute">Dirección: </span>
              <span>{{ user?.direccion }}</span>
            </div>
          </div>
          <div>
            <div class="attribute-option">
              <span class="title-attribute">Usuario: </span>
              <span>{{ user?.username }}</span>
            </div>
            <div class="attribute-option">
              <span class="title-attribute">Rol: </span>
              <span>{{ user?.rol }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="options-space">
        <div class="option-card all-icons" routerLink="/ver-productos">
          <p class="title-name">Productos</p>
          <img class="image" src="/assets/Producto.png" alt="" />
          <div class="information-card">
            <span class="text-card">Ver productos </span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="#ff6f00"
              viewBox="0 0 256 256"
            >
              <path
                d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z"
              ></path>
            </svg>
          </div>
        </div>
        <div class="option-card all-icons" routerLink="/ver-ventas">
          <p class="title-name">Ventas</p>
          <img class="image" src="/assets/ventas.png" alt="" />
          <div class="information-card">
            <span class="text-card">Ver ventas </span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="#ff6f00"
              viewBox="0 0 256 256"
            >
              <path
                d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z"
              ></path>
            </svg>
          </div>
        </div>
        <div class="option-card all-icons" routerLink="/ver-clientes">
          <p class="title-name">Clientes</p>
          <img class="image" src="/assets/cliente.png" alt="" />
          <div class="information-card">
            <span class="text-card">Ver clientes </span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="#ff6f00"
              viewBox="0 0 256 256"
            >
              <path
                d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <app-footer class="footer"></app-footer>
  </div>
</div>
