<div class="opciones-container">
  <app-sidebar class="sidebar"></app-sidebar>
  <div class="main-content">
    <app-header class="header"></app-header>
    <div class="body-content">
      <div class="ver-card">
        <h1 class="title-name-text">Ver usuario</h1>

        <div class="attribute-section">
          <span class="infomation-title-text">ID: </span>
          <span class="information-text">{{ usuario?.id }}</span>
          <span></span>
        </div>
        <hr class="separator-line" />

        <div class="attribute-section">
          <span class="infomation-title-text">Nombre: </span>
          <span class="information-text">{{ usuario?.nombre }}</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="#ff6f00"
            viewBox="0 0 256 256"
            class="all-icons"
            (click)="openFormEdit('nombre', 'nombre', usuario?.nombre || '')"
          >
            <path
              d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z"
            ></path>
          </svg>
        </div>
        <hr class="separator-line" />

        <div class="attribute-section">
          <span class="infomation-title-text">Apellido: </span>
          <span class="information-text">{{ usuario?.apellido }}</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="#ff6f00"
            viewBox="0 0 256 256"
            class="all-icons"
            (click)="
              openFormEdit('apellido', 'apellido', usuario?.apellido || '')
            "
          >
            <path
              d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z"
            ></path>
          </svg>
        </div>
        <hr class="separator-line" />

        <div class="attribute-section">
          <span class="infomation-title-text">Fecha de Nacimiento: </span>
          <span class="information-text">{{ usuario?.fechaNacimiento }}</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="#ff6f00"
            viewBox="0 0 256 256"
            class="all-icons"
            (click)="
              openFormEdit(
                'Fecha de nacimiento',
                'fecha_nacimiento',
                usuario?.fechaNacimiento || ''
              )
            "
          >
            <path
              d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z"
            ></path>
          </svg>
        </div>
        <hr class="separator-line" />

        <div class="attribute-section">
          <span class="infomation-title-text">Telefono: </span>
          <span class="information-text">{{ usuario?.telefono }}</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="#ff6f00"
            viewBox="0 0 256 256"
            class="all-icons"
            (click)="
              openFormEdit('telefono', 'telefono', usuario?.telefono || '')
            "
          >
            <path
              d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z"
            ></path>
          </svg>
        </div>
        <hr class="separator-line" />

        <div class="attribute-section">
          <span class="infomation-title-text">cedula: </span>
          <span class="information-text">{{ usuario?.cedula }}</span>
          <span></span>
        </div>
        <hr class="separator-line" />

        <div class="attribute-section">
          <span class="infomation-title-text">direccion: </span>
          <span class="information-text">{{ usuario?.direccion }}</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="#ff6f00"
            viewBox="0 0 256 256"
            class="all-icons"
            (click)="
              openFormEdit('direccion', 'direccion', usuario?.direccion || '')
            "
          >
            <path
              d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z"
            ></path>
          </svg>
        </div>
        <hr class="separator-line" />

        <div class="attribute-section">
          <span class="infomation-title-text">username: </span>
          <span class="information-text">{{ usuario?.username }}</span>
          <span></span>
        </div>
        <hr class="separator-line" />

        <div class="attribute-section">
          <span class="infomation-title-text">password: </span>
          <span class="information-text">**********</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="#ff6f00"
            viewBox="0 0 256 256"
            class="all-icons"
            (click)="openFormEdit('password', 'password', '')"
          >
            <path
              d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z"
            ></path>
          </svg>
        </div>
        <hr class="separator-line" />

        <div class="attribute-section">
          <span class="infomation-title-text">rol: </span>
          <span class="information-text">{{ usuario?.rol }}</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="#ff6f00"
            viewBox="0 0 256 256"
            class="all-icons"
            (click)="openFormEdit('rol', 'unRol', usuario?.rol || '')"
          >
            <path
              d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z"
            ></path>
          </svg>
        </div>

        <div class="space-return-button">
          <button routerLink="/ver-usuarios" class="return-button">
            Regresar
          </button>
        </div>
      </div>
    </div>
    <app-footer class="footer"></app-footer>
  </div>
</div>
